.cobertura-coverage-green {
    background: #2ecc71 !important;
}

.cobertura-coverage-red {
    background: #F55353 !important;
}

.cobertura-coverage-green-border {
    border-left: 4px solid #2ecc71 !important;
}

.cobertura-coverage-red-border {
    border-left: 4px solid #F55353 !important;
}

.cobertura-float-button{
	position:fixed;
	width: 100px;
	height: 30px;
    padding: 5px;
	bottom: 40px;
	right: 40px;
	background-color: #0d1117;
	color:#FFF;
	text-align:center;
    border: 1px solid black;
    z-index: 1000;
}
